body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
}

.text-orange {
  color: orange;
}

.phoenix-img {
  width: 180px;
  top: -20px;
  left: -10px;
  z-index: 10;
}

.login-box {
  width: 230px;
  z-index: 20;
}

.border-warning {
  border-color: orange !important;
}

main .border {
  background-color: #222 !important;
}

main h5 {
  border-bottom: 1px solid orange;
  padding-bottom: 5px;
}

footer {
  border-top: 1px solid #333;
}
